Repository pregister/openshift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "charts/**/*"
  - "deploy/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

finally?
  charts/media-application/templates/service-account.yaml
Labels: area/kubernetes

final final?
  charts/media-application/templates/scc.yaml
  charts/mosquitto/templates/scc.yaml
  charts/mosquitto/templates/service-account.yaml
Labels: area/kubernetes

ignore me
  charts/media-application/values.yaml
Labels: area/kubernetes

remoce KMM template
  roles/base-cluster/templates/kernel-module-management.yaml
Labels: none

Update crds.yaml
  charts/startpunkt/templates/crds.yaml
Labels: area/kubernetes

Update storageprofile.yaml
  charts/kubevirt-hyperconverged-instance/templates/storageprofile.yaml
Labels: area/kubernetes

Update config-volume.yaml
  charts/plex/templates/config-volume.yaml
Labels: area/kubernetes

Update values.yaml
  charts/plex/values.yaml
Labels: area/kubernetes

Update config-volume.yaml
  charts/plex/templates/config-volume.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update overseerr.yaml
  roles/media-server/templates/overseerr.yaml
Labels: none

Update crds.yaml
  charts/startpunkt/templates/crds.yaml
Labels: area/kubernetes

Update values.yaml
  charts/startpunkt/values.yaml
Labels: area/kubernetes

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update Renovate configuration to use new repository
  .github/renovate.json5
Labels: area/github

Add allowed versions for specific Helm packages
  .github/renovate/allowedVersions.json5
Labels: area/github

Add 'docker' to matchManagers and matchDatasources
  .github/renovate/allowedVersions.json5
Labels: area/github

Update allowedVersions.json5 to simplify rules
  .github/renovate/allowedVersions.json5
Labels: area/github

Add @pregister as a code owner
  .github/CODEOWNERS
Labels: area/github

Add ignore path for values.yaml in Renovate config
  .github/renovate.json5
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github
