Repository pregister/openshift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

Update hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update teslacam.yaml
  roles/register-custom/templates/teslacam.yaml
Labels: none

Update register-custom.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

switch crd
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

change crd
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

remove for now
  roles/base-cluster/templates/nfs-subdir-external-provisioner.yaml
Labels: none

Update values.yaml
  charts/startpunkt/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/startpunkt/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/startpunkt/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/startpunkt/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/startpunkt/values.yaml
Labels: area/kubernetes

Update storageprofile.yaml
  charts/kubevirt-hyperconverged-instance/templates/storageprofile.yaml
Labels: area/kubernetes

Update values.yaml
  charts/startpunkt/values.yaml
Labels: area/kubernetes

Update nodefeaturediscovery.yaml
  charts/node-feature-discovery-config/templates/nodefeaturediscovery.yaml
Labels: area/kubernetes

Update plex.yaml
  roles/media-server/templates/plex.yaml
Labels: none

Update media-server.yaml
  clusters/openshift.registerfam.net/templates/media-server.yaml
Labels: none

Update data-volume.yaml
  charts/plex/templates/data-volume.yaml
Labels: area/kubernetes

Update route.yaml
  charts/plex/templates/route.yaml
Labels: area/kubernetes

Update values.yaml
  charts/plex/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/plex/values.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update values.yaml
  charts/plex/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/plex/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/plex/values.yaml
Labels: area/kubernetes

Create home-automation.yaml
  clusters/openshift.registerfam.net/templates/home-automation.yaml
Labels: none

Update and rename zwavejs2mqtt.yaml to zwavejs2mqtt.disable
  roles/home-automation/templates/zwavejs2mqtt.disable
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Delete clusters/openshift.registerfam.net/templates/home-automation.yaml
  clusters/openshift.registerfam.net/templates/home-automation.yaml
Labels: none

Update operatorgroup.yaml
  charts/node-feature-discovery-operator/templates/operatorgroup.yaml
Labels: area/kubernetes

Update operatorgroup.yaml
  charts/node-feature-discovery-operator/templates/operatorgroup.yaml
Labels: area/kubernetes

updates path
  charts/media-application/values.yaml
  charts/recyclarr/templates/cronjob.yaml
  roles/media-server/templates/bazarr.yaml
  roles/media-server/templates/lidarr.yaml
  roles/media-server/templates/prowlarr.yaml
  roles/media-server/templates/radarr.yaml
  roles/media-server/templates/sabnzbd.yaml
  roles/media-server/templates/sonarr.yaml
  roles/media-server/templates/tautulli.yaml
Labels: area/kubernetes

fix labels
  .github/workflows/meta-labeler.yaml
Labels: area/github

Update subscription.yaml
  charts/node-feature-discovery-operator/templates/subscription.yaml
Labels: area/kubernetes

edited nfd
  charts/node-feature-discovery-config/templates/nodefeaturediscovery.yaml
Labels: area/kubernetes

fixed URL
  .github/renovate.json5
Labels: area/github

fix, maybe?
  charts/generic-device-plugin/Chart.yaml
  charts/generic-device-plugin/values.yaml
  charts/hajimari/Chart.yaml
  charts/hajimari/values.yaml
  charts/media-application/Chart.yaml
  charts/media-application/values.yaml
  charts/mosquitto/Chart.yaml
  charts/mosquitto/values.yaml
  charts/node-red/Chart.yaml
  charts/node-red/values.yaml
  charts/plex/Chart.yaml
  charts/plex/values.yaml
  charts/rtl433/Chart.yaml
  charts/rtl433/values.yaml
  charts/startpunkt/Chart.yaml
  charts/startpunkt/values.yaml
  charts/zwavejs2mqtt/Chart.yaml
  charts/zwavejs2mqtt/values.yaml
Labels: area/kubernetes

missed one thing
  roles/home-automation/templates/home-assistant.yaml
  roles/home-automation/templates/zwavejs2mqtt.disable
  roles/media-server/templates/bazarr.yaml
  roles/media-server/templates/gaps.yaml
  roles/media-server/templates/kavita.yaml
  roles/media-server/templates/lidarr.yaml
  roles/media-server/templates/overseerr.yaml
  roles/media-server/templates/prowlarr.yaml
  roles/media-server/templates/radarr.yaml
  roles/media-server/templates/readarr.yaml
  roles/media-server/templates/sabnzbd.yaml
  roles/media-server/templates/sonarr.yaml
  roles/media-server/templates/tautulli.yaml
  roles/utilities/disabled/chat-with-gpt.yaml
  roles/utilities/templates/changedetection.yaml
  roles/utilities/templates/cyberchef.yaml
Labels: none

may
  roles/home-automation/templates/home-assistant.yaml
  roles/home-automation/templates/zwavejs2mqtt.disable
  roles/media-server/templates/bazarr.yaml
  roles/media-server/templates/gaps.yaml
  roles/media-server/templates/kavita.yaml
  roles/media-server/templates/lidarr.yaml
  roles/media-server/templates/overseerr.yaml
  roles/media-server/templates/prowlarr.yaml
  roles/media-server/templates/radarr.yaml
  roles/media-server/templates/readarr.yaml
  roles/media-server/templates/sabnzbd.yaml
  roles/media-server/templates/sonarr.yaml
  roles/media-server/templates/tautulli.yaml
  roles/utilities/disabled/chat-with-gpt.yaml
  roles/utilities/templates/changedetection.yaml
  roles/utilities/templates/cyberchef.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "charts/**/*"
  - "deploy/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
