Repository pregister/openshift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/charts, area/cluster, area/clusters, area/roles, area/renovate

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/charts:
  - changed-files:
      - any-glob-to-any-file: "charts/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/clusters:
  - changed-files:
      - any-glob-to-any-file: "clusters/**/*"
area/roles:
  - changed-files:
      - any-glob-to-any-file: "roles/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/renovate/**/*"
          - "github/renovate.json5"

Update labels.yaml with new area labels
  .github/labels.yaml
Labels: area/github

Create jellyseerr
  roles/media-server/templates/jellyseerr
Labels: area/roles

Rename jellyseerr to jellyseerr.yaml
  roles/media-server/templates/jellyseerr.yaml
Labels: area/roles

Update values.yaml
  roles/media-server/values.yaml
Labels: area/roles

Update values.yaml
  roles/media-server/values.yaml
Labels: area/roles

Create tweaks
  charts/tweaks
Labels: area/charts

Delete charts/tweaks
  charts/tweaks
Labels: area/charts

Create values.yaml
  charts/    tweaks  /snapshot-finalizer-remove/values.yaml
Labels: area/charts

Delete charts/ tweaks /snapshot-finalizer-remove/values.yaml
  charts/    tweaks  /snapshot-finalizer-remove/values.yaml
Labels: area/charts

Create values.yaml
  charts/    tweaks/snapshot-finalizer-remover/values.yaml
Labels: area/charts

Delete charts/ tweaks/snapshot-finalizer-remover/values.yaml
  charts/    tweaks/snapshot-finalizer-remover/values.yaml
Labels: area/charts

Create Chart.yaml
  charts/tweaks/snapshot-finalizer-remover/Chart.yaml
Labels: area/charts

Delete charts/tweaks/snapshot-finalizer-remover directory
  charts/tweaks/snapshot-finalizer-remover/Chart.yaml
Labels: area/charts

feat: add snapshot-finalizer-remover Helm chart with CronJob and RBAC
  .DS_Store
  charts/.DS_Store
  charts/tweaks/.DS_Store
  charts/tweaks/snapshot-finalizer-remover/.DS_Store
  charts/tweaks/snapshot-finalizer-remover/charts.yaml
  charts/tweaks/snapshot-finalizer-remover/templates/cronjob.yaml
  charts/tweaks/snapshot-finalizer-remover/templates/rbac.yaml
  charts/tweaks/snapshot-finalizer-remover/templates/serviceaccount.yaml
  charts/tweaks/snapshot-finalizer-remover/values.yaml
Labels: area/charts

Delete charts/tweaks/snapshot-finalizer-remover/.DS_Store
  charts/tweaks/snapshot-finalizer-remover/.DS_Store
Labels: area/charts

Delete charts/tweaks/.DS_Store
  charts/tweaks/.DS_Store
Labels: area/charts

Delete charts/.DS_Store
  charts/.DS_Store
Labels: area/charts

Delete .DS_Store
  .DS_Store
Labels: none

Add snapshot-finalizer-remover application YAML
  roles/register-custom/templates/snapshot-finalizer-remover.yaml
Labels: area/roles

Fix cronjob.schedule value formatting
  roles/register-custom/templates/snapshot-finalizer-remover.yaml
Labels: area/roles

Rename charts.yaml to Charts.yaml
  charts/tweaks/snapshot-finalizer-remover/Charts.yaml
Labels: area/charts

Rename Charts.yaml to Chart.yaml
  charts/tweaks/snapshot-finalizer-remover/Chart.yaml
Labels: area/charts

Add ignored dependencies to Renovate config
  .github/renovate.json5
Labels: area/github

Add allowed versions for Helm managers and packages
  .github/renovate/allowedVersions.json5
Labels: area/github, area/renovate

Update allowedVersions.json5 to include docker
  .github/renovate/allowedVersions.json5
Labels: area/github, area/renovate

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github, area/renovate

Add environment variable for certificate handling
  charts/startpunkt/values.yaml
Labels: area/charts

Update image tag to 2.1.1 in values.yaml
  charts/startpunkt/values.yaml
Labels: area/charts

Update image tag to 2.1.2 in values.yaml
  charts/startpunkt/values.yaml
Labels: area/charts

Update availability setting in values.yaml
  charts/startpunkt/values.yaml
Labels: area/charts

Upgrade CRDs to v1alpha4 with new properties
  charts/startpunkt/templates/crds.yaml
Labels: area/charts

Update rbac.yaml to include httproutes permissions
  charts/startpunkt/templates/rbac.yaml
Labels: area/charts

Update image tag in values.yaml to 3.1.0
  charts/startpunkt/values.yaml
Labels: area/charts

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github, area/renovate

Update image tag to 3.2.0 in values.yaml
  charts/startpunkt/values.yaml
Labels: area/charts

Change image tag for main container
  charts/startpunkt/values.yaml
Labels: area/charts

Update image tag in values.yaml
  charts/startpunkt/values.yaml
Labels: area/charts

Refactor lidarr.yaml to include conditional rendering
  roles/media-server/templates/lidarr.yaml
Labels: area/roles

Refactor lidarr.yaml template structure
  roles/media-server/templates/lidarr.yaml
Labels: area/roles

updated test on sab
  roles/media-server/templates/sabnzbd.yaml
Labels: area/roles
