Repository pregister/openshift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "charts/**/*"
  - "deploy/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

Delete .github/renovate.json
  .github/renovate.json
Labels: area/github

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

my custom stuff
  clusters/openshift.registerfam.net/Chart.yaml
  clusters/openshift.registerfam.net/templates/base-cluster.yaml
  clusters/openshift.registerfam.net/templates/media-server.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
  clusters/openshift.registerfam.net/templates/utilities.yaml
  clusters/openshift.registerfam.net/values.yaml
  roles/register-custom/Chart.yaml
  roles/register-custom/templates/hajimari-apps.yaml
  roles/register-custom/values.yaml
Labels: none

Update register-custom.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
Labels: none

Update register-custom.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
Labels: none

Delete clusters/openshift.registerfam.net/templates/utilities.yaml
  clusters/openshift.registerfam.net/templates/utilities.yaml
Labels: none

Update media-server.yaml to disable plex
  clusters/openshift.registerfam.net/templates/media-server.yaml
Labels: none

Update media-server.yaml
  clusters/openshift.registerfam.net/templates/media-server.yaml
Labels: none

Create hajimari-apps.ymal
  roles/register-custom/templates/hajimari-apps.ymal
Labels: none

Delete roles/register-custom/templates/hajimari-apps.ymal
  roles/register-custom/templates/hajimari-apps.ymal
Labels: none

Create hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Create teslacam.yaml
  roles/register-custom/templates/teslacam.yaml
Labels: none

Update values.yaml
  roles/register-custom/values.yaml
Labels: none

Update register-custom.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
Labels: none

Update teslacam.yaml
  roles/register-custom/templates/teslacam.yaml
Labels: none

Update teslacam.yaml
  roles/register-custom/templates/teslacam.yaml
Labels: none

Update hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

my custom stuff
  clusters/openshift.registerfam.net/Chart.yaml
  clusters/openshift.registerfam.net/templates/base-cluster.yaml
  clusters/openshift.registerfam.net/templates/media-server.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
  clusters/openshift.registerfam.net/templates/utilities.yaml
  clusters/openshift.registerfam.net/values.yaml
  roles/register-custom/Chart.yaml
  roles/register-custom/templates/hajimari-apps.yaml
  roles/register-custom/values.yaml
Labels: none

Update media-server.yaml
  clusters/openshift.registerfam.net/templates/media-server.yaml
Labels: none

Update register-custom.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
Labels: none

Delete clusters/openshift.registerfam.net/templates/utilities.yaml
  clusters/openshift.registerfam.net/templates/utilities.yaml
Labels: none

Update media-server.yaml to disable plex
  clusters/openshift.registerfam.net/templates/media-server.yaml
Labels: none

Update register-custom.yaml
  clusters/openshift.registerfam.net/templates/register-custom.yaml
Labels: none

Create teslacam.yaml
  roles/register-custom/templates/teslacam.yaml
Labels: none

Create hajimari-apps.ymal
  roles/register-custom/templates/hajimari-apps.ymal
Labels: none

Update hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Delete roles/register-custom/templates/hajimari-apps.ymal
  roles/register-custom/templates/hajimari-apps.ymal
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Create hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update values.yaml
  roles/register-custom/values.yaml
Labels: none

Update hajimari-bookmarks.ymal
  roles/register-custom/templates/hajimari-bookmarks.ymal
Labels: none

Update hajimari-apps.yaml
  roles/register-custom/templates/hajimari-apps.yaml
Labels: none

Update teslacam.yaml
  roles/register-custom/templates/teslacam.yaml
Labels: none
