Repository pregister/openshift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "charts/**/*"
  - "deploy/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

updated files
  deploy/media/Chart.yaml
  deploy/media/README.md
  deploy/media/templates/media-gaps.yaml
  deploy/media/templates/media-lidarr.yaml
  deploy/media/templates/media-overseerr.yaml
  deploy/media/templates/media-prowlarr.yaml
  deploy/media/templates/media-radarr.yaml
  deploy/media/templates/media-readarr.yaml
  deploy/media/templates/media-sabnzbd.yaml
  deploy/media/templates/media-sonarr.yaml
  deploy/media/templates/media-tautulli.yaml
  deploy/media/values.yaml
Labels: area/kubernetes

fixed port
  .DS_Store
  charts/tautulli/values.yaml
Labels: area/kubernetes

Delete deploy/cluster/templates/cluster-certificates.yaml
  deploy/cluster/templates/cluster-certificates.yaml
Labels: area/kubernetes

Update values.yaml
  charts/readarr/values.yaml
Labels: area/kubernetes

Update values.yaml
  charts/gaps/values.yaml
Labels: area/kubernetes

Link to NAS
  deploy/cluster/templates/cluster-hajimari-links.yaml
Labels: area/kubernetes

add ha
  deploy/cluster/templates/cluster-hajimari-links.yaml
Labels: area/kubernetes

add namespace
  deploy/cluster/templates/cluster-hajimari-links.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari.yaml
  deploy/cluster/templates/hajimari.yaml
Labels: area/kubernetes

Delete deploy/media-server/templates/bazarr.yaml
  deploy/media-server/templates/bazarr.yaml
Labels: area/kubernetes

Delete deploy/media-server/templates/kavita.yaml
  deploy/media-server/templates/kavita.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update hajimari-apps.yaml
  deploy/cluster/templates/hajimari-apps.yaml
Labels: area/kubernetes

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update meta-sync-labels.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

Update radarr.yaml
  deploy/media-server/templates/radarr.yaml
Labels: area/kubernetes

Update radarr.yaml
  deploy/media-server/templates/radarr.yaml
Labels: area/kubernetes

Update storageprofile.yaml
  charts/kubevirt-hyperconverged-instance/templates/storageprofile.yaml
Labels: area/kubernetes

Update radarr.yaml
  deploy/media-server/templates/radarr.yaml
Labels: area/kubernetes

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update and rename renovate.json5 to renovate.json
  .github/renovate.json
Labels: area/github

Create renovate.json
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

Update gaps.yaml
  deploy/media-server/templates/gaps.yaml
Labels: area/kubernetes

Update lidarr.yaml
  deploy/media-server/templates/lidarr.yaml
Labels: area/kubernetes

Update overseerr.yaml
  deploy/media-server/templates/overseerr.yaml
Labels: area/kubernetes

Update prowlarr.yaml
  deploy/media-server/templates/prowlarr.yaml
Labels: area/kubernetes

Update readarr.yaml
  deploy/media-server/templates/readarr.yaml
Labels: area/kubernetes

Update sabnzbd.yaml
  deploy/media-server/templates/sabnzbd.yaml
Labels: area/kubernetes

Update sonarr.yaml
  deploy/media-server/templates/sonarr.yaml
Labels: area/kubernetes

Update tautulli.yaml
  deploy/media-server/templates/tautulli.yaml
Labels: area/kubernetes

Update tautulli.yaml
  deploy/media-server/templates/tautulli.yaml
Labels: area/kubernetes

Update sabnzbd.yaml
  deploy/media-server/templates/sabnzbd.yaml
Labels: area/kubernetes
